// Here you can add other styles
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.table-new {
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  align-items: center;
}

.datatable {
  text-align: center;
}

.table {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.card-table {
    box-shadow: 5px 5px 8px  #cecece;
}

.card-body-new {
  box-shadow: 5px 5px 8px #cecece;
}

.text {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 25;
}

.button-add {
  color: #ffffff;
  align-items: center;
  float: right;
  font-family: "Roboto", sans-serif;
  // padding: 8px 12px;
  background-color: #ec8654;
}

// .col-new {
//   padding-bottom: 2rem;
// }

.btn-singin {
  background-color: $sign-in !important;
  color: white !important;
}

.black {
  background-color: $black;
}
.br-none {
  border-right: none;
}

.coklat {
  background-color: $coklat;
}
.abu {
  background-color: $abu;
}
@media (min-width: 992px) {
  .test {
    position: sticky !important;
  }
}

.header {
    padding-top: 10rem;
}

.modal-title{
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 25;
    margin-top: 2rem;
}

.button2 {
    color: #ffffff;
    align-items: center; 
    font-family: 'Roboto', sans-serif;

    background-color: #EC8654;
}

.alert-add {
    background-color: #A0A0A0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: inline-flex;
}